* {
    margin: 0;   
    padding: 0;
}
:root[data-mode='light']{
    --bgColor: #ffffff;
    --bgSecond: rgb(0, 0, 0);
    --bgThird: black;
    --accent: black;
    --textColor: black;

}
:root[data-mode='dark']{
    --bgColor: rgb(0, 0, 0);
    --bgSecond: rgb(255, 255, 255);
    --bgThird: rgb(255, 255, 255);
    --accent: rgb(255, 255, 255);
    --textColor: rgb(255, 255, 255);

}
.hamburger {
 
  background-image: url("../img/menu.png");
  background-size: cover;  
  background-position: center; 
  
}

html{
    background-color: var(--bgColor);
    color: var(--bgSecond);
}
/* telefoon  767.9*/
.voet{
    background-color: gray;
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 576px) {
.banner {
    background-color: #343434;
    max-height: 73px;
    max-width: auto;
    display: flex;
}
.hamburgermenu > {
    text-decoration: none;

}

.bestelknop{
    background-color: #19ee3c;
    border: solid black 3px;
    width: 90vw;
    margin-left: 5vw;
    border-radius: 20px;
    margin-bottom: 10vw;

}
.offertekst{
    background-color: #922C06;
    border: solid black 3px;

}
.fotoagenda{
    width: 100vw;
    margin-bottom: 10vh;
}
.fotoagenda > img{
    width: 100vw;
    
}
.foto1{
    margin-top: 3vh;
    margin-left: 6vw;
    margin-right: 3vw;
    margin-bottom: 3vh;


    width: 40vw;
    height: auto;
}
.foto1 > img{
    border: solid black 3px;
    border-radius: 20px;
    width: 40vw;
    height: auto;
}
.offerfoto{
    display: flex;
}
.foto2{
    
    width: 40vw;
    height: auto;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
}
.foto2 > img{
    border: solid black 3px;
    border-radius: 20px;
    width: 40vw;
    height: auto;
}
.hamburgermenu{
    background-color: #922C06;
}
#dropdown-menu {
    background-color: #f4f4f4; 
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    width: 100%;
}


#dropdown-menu.open {
    max-height: 360px;
    border-bottom: 2px solid #ccc;
}

#dropdown-menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}
#dropdown-menu ul li a {
    text-decoration: none;  
    color: #000000;           
    font-size: 40px;
    display: block;         
    padding: 10px 20px;     
   
}



.menu_heading {
    background-color: grey;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #000000;
    display: block;
    font-size: 30px;
    

}

.menu_items {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000000;
    
    
    
}
.titel{
    background-color: #922C06;
    justify-items: center;
    font-size: 25px;
    height: 6vh;
}
.cashback{
    background-color: limegreen;
    justify-items: center;
    
    height: 3vh;
    font-size: 12px;
}
.logo > img{
    max-height: 73px;
    max-width: auto;

}
.searchbar {
    color: white;
    background-color: white;
    margin-left: 4vw;
    border: 2px solid rgb(0, 0, 0);
    width: 50vw;
    height: 24px;
    margin-top: 22px;
    border-radius: 15px;
    
}
.darkmode {
    background-color: black;
    width: 8vw;
    height: 35px;
    margin-top: 22px;
    margin-left: 4vw;
}
.hamburger {
    background-color: #922C06;
    width: 13vw;
    height: 7vh;
    margin-top: 5px;
    margin-left: 1vw;
}
.deal1 {
    font-size: 30px;
}
.deal1 > img {
    max-width: 100vw;
    border: 1px solid black;
    border-radius: 30px;
}
.deal2 {
    font-size: 22px;
}
hr {
    margin-top: 20px;
   
    max-width: 90vw;
    margin-left: 5vw;
    height: 4px;
    background-color: black;
}

}


/* tablets */
@media (min-width: 577px) and (max-width: 991px) {
.menu_heading {
    background-color: grey;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    display: block;
}
#dropdown-menu {
    background-color: #922C06;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    width: 100%;
}


#dropdown-menu.open {
    max-height: 360px;
    border-bottom: 2px solid #ccc;
}

#dropdown-menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}
#dropdown-menu ul li a {
    text-decoration: none;  
    color: #000000;           
    font-size: 40px;
    display: block;         
    padding: 10px 20px;     
   
}
.menu_items {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    
}
.titel{
    background-color: #922C06;
    justify-items: center;
    font-size: 25px;
    height: 6vh;
}
.cashback{
    background-color: limegreen;
    justify-items: center;
    
    height: 3vh;
    font-size: 12px;
}
.banner {
    background-color: #343434;
    max-height: 73px;
    max-width: 100vw;
    display: flex;
}
.logo > img{
    max-height: 73px;
    max-width: auto;

}
.searchbar {
    color: white;
    background-color: white;
    margin-left: 4vw;
    border: 2px solid rgb(0, 0, 0);
    width: 50vw;
    height: 24px;
    margin-top: 22px;
    border-radius: 15px;
    
}
.darkmode {
    background-color: black;
    width: 35px;
    height: 35px;
    margin-top: 22px;
    margin-left: 10vw;
}

.hamburger {
    background-color: #922C06;
    width: 10vw;
    height: 7vh;
    margin-top: 5px;
    margin-left: 1vw;
}
.deal1 {
    font-size: 30px;
}
.deal1 > img {
    max-width: 100vw;
}
.deal2 {
    font-size: 22px;
}
hr {
    margin-top: 20px;
   
    max-width: 90vw;
    margin-left: 5vw;
    height: 4px;
    background-color: black;
}

       
      
}


/* laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    html {
       
        
    }
}
   
/* desktops */
@media (min-width: 1200px) {
    
    html {
        
    }
}
