* {
    margin: 0;   
    padding: 0;
}
body{
    
    font-family: "Berlin Sans FB", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;


}

:root[data-mode='light']{
    --bgColor: #ffffff;
    --bgSecond: rgb(0, 0, 0);
    --bgThird: black;
    --accent: black;
    --textColor: black;
    --borderColor: black;
    --backgroundColor: #c6c4c4;

}
:root[data-mode='dark']{
    --bgColor: rgb(0, 0, 0);
    --bgSecond: rgb(255, 255, 255);
    --bgThird: rgb(255, 255, 255);
    --accent: rgb(255, 255, 255);
    --textColor: rgb(255, 255, 255);
    --borderColor: rgb(255, 255, 255);
    --backgroundColor: #343434;

}

p {
  font-size: 1rem; 
}
:root {
  --global-scale: 1;
}

body {
  
  font-size: calc(16px * var(--global-scale));
}

h1 {
  font-size: calc(32px * var(--global-scale));
}
p {
  font-size: calc(18px * var(--global-scale));
}
h2 {
  font-size: calc(26px * var(--global-scale));
}


html {
  font-size: var(--main-font-size);
}




html{
    background-color: var(--bgColor);
    color: var(--bgSecond);
}
/* telefoon  767.9*/
.voet{
    background-color: gray;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
.voet > h1{
   
    max-width: 100%;


}
footer h1{
/*  (met ai, geen geleerde oplossing) */
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: break-all;
}
.hamburger {
 
  background-image: url("../img/menu.png");
  background-size: cover;  
  background-position: center; 
  
}



@media (max-width: 576px) {
.banner {
    background-color: #343434;
    max-height: 80px;
    width: 100vw;
    display: flex;
}
.font-controls{
    margin-top: 2vh;
    background-color: transparent;
    font-style: var(--bgThird);
    margin-left: 7vw;
}
.button-size1{
    width: 44px;
    height: 44px;
    margin-left: 3vw;
    font-size: 2.0rem;
    background-color: grey;
    
}
.button-size2{
    width: 44px;
    height: 44px;
    margin-left: 3vw;
    font-size: 2.0rem;
    background-color: grey;
    
}
.hamburgermenu{
    text-decoration: none;

}

.tekstvlamvlees{
    width: 90vw;
    margin-left: 3vw;
    background-color: transparent;
    
    font-size: 1.3rem;
    padding-bottom: 5vh;
}
.voettekst{
    max-width: 95vw;
    margin-left: 5vw;
    background-color: transparent;
    
    font-size: 1.3rem;
}
.container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 70vh 10vh 10vh;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
    
  }

.header {
    grid-area: header;
    background-color: var(--bgColor);
    color: var(--bgSecond);
    
    
  }

.sidebar {
    grid-area: sidebar;
    background-color: var(--bgColor);
    color: var(--bgSecond);
    
  }

.content {
    grid-area: content;
    background-color: var(--bgColor);
    color: var(--bgSecond);
   border: solid black 2px;
   border-color: var(--borderColor);
  }

.footer {
    grid-area: footer;
    background-color: var(--bgColor);
    color: var(--bgSecond);
    
  }

.bestelknop{
    background-color: #19ee3c;
    border: solid black 3px;
    width: 90vw;
    margin-left: 5vw;
    border-radius: 20px;
    margin-bottom: 10vw;
    border: var(--borderColor);

}
.offertekst{
    background-color: #922C06;
    border: solid black 3px;

}
.fotoagenda{
    width: 100vw;
    margin-bottom: 10vh;
}
.fotoagenda > img{
    width: 100vw;
    
}
.foto1{
    margin-top: 3vh;
    margin-left: 6vw;
    margin-right: 3vw;
    margin-bottom: 3vh;


    width: 40vw;
    height: auto;
}
.foto1 > img{
    border: solid black 3px;
    border-radius: 20px;
    width: 40vw;
    height: auto;
}
#lightdark {
    
    width: 35px;
    height: 100%;
    margin-top: 22px;
    margin-left: 5vw;
    font-size: 1.3rem;
}
.offerfoto{
    display: flex;
}
.foto2{
    
    width: 40vw;
    height: auto;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
}
.foto2 > img{
    border: solid black 3px;
    border-radius: 20px;
    width: 40vw;
    height: auto;
}
.wekelijkse{
    margin-left: 10vw;
}
.hamburgermenu{
    background-color: #922C06;
}
#dropdown-menu {
    background-color: var(--bgColor);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    width: 100%;
}


#dropdown-menu.open {
    max-height: 360px;
    border-bottom: 2px solid #ccc;
}

#dropdown-menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}
#dropdown-menu ul li a {
    text-decoration: none;  
    color: var(--borderColor);        
    font-size: 40px;
    display: block;         
    padding: 10px 20px;     
   
}



.menu_heading {
    background-color: grey;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #000000;
    display: block;

    

}

.menu_items {
    padding: 10px;
    background-color: var(--bgColor);
    border: 1px solid #000000;
    border-color: var(--borderColor);
    
    
    
}
.titel{
    background-color: var(--backgroundColor); 
}
.titel > h2{
    font-size: 60px;
    margin-left: 35vw;
}

.logo > img{
    max-height: 73px;
    max-width: auto;

}
.searchbar {
    color: white;
    background-color: var(--bgColor);
    margin-left: 4vw;
    border: 2px solid rgb(0, 0, 0);
    width: 50vw;
    height: 24px;
    margin-top: 22px;
    border-radius: 15px;
    border-color: var(--borderColor);
    
}
.darkmode {
    background-color: black;
    width: 8vw;
    height: 35px;
    margin-top: 22px;
    margin-left: 4vw;
}
.hamburger {
    background-color: #922C06;
    position: absolute;
    left: 85vw;
    height: 8vh;
    width: 15vw;
}
.hamburger > img{
    width: 100%;
}

.deal1 {
    font-size: 30px;
    margin-left: 5vw;
    width: 90vw;
}
.deal1 > img {
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
}
.deal2 {
    font-size: 22px;
    margin-left: 1vw;
    width: 90vw
}
.deal2 > img {
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
}
hr {
    margin-top: 20px;
   
    max-width: 90vw;
    margin-left: 5vw;
    height: 4px;
    background-color: black;
}

.Tijden{
    justify-items: center;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    margin: 10px; 
    padding: 10px;
    font-size: 1.3rem;
}
.titelres{
    display: none;
}
.titelvac{
    display: none;
}

.Banen > article > h3{
    border-bottom: solid black 2px;
    border-color: var(--borderColor);
}

.extras{
    justify-items: center;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    margin: 10px; 
    padding: 10px;
    font-size: 1.3rem;
}


.Locatie{
    display: flex;
    justify-items: center;
    width: 90vw;
    align-items: center;
    
    margin-left: 5vw;
    margin-bottom: 5vh;
  
  
}
.titel{
    background-color: var(--backgroundColor); 
    max-width: 100vw;
}
.titel > h3{
    font-size: 2rem;
    margin-left: 10vw;
}
.cashback{
    background-color:#19ee3c;
    max-width: 100vw;
}
.cashback > h3{
    font-size: 2rem;
    margin-left: 10vw;
}
.Locatie > img{
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
}
.Locatietext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;

}
.ipadnav{
    display: none;
}



.Banen > .bbqfoto {
    
    width: 100vw;
    height: auto;

}

.Gegevens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
    border-color: var(--borderColor);
    
}
.textveld{
    width: 90vw;
   
    border: solid black 2px;
    border-color: var(--borderColor);
    border-radius: 20px;
    height: 30vh;
    background-color: var(--backgroundColor);
}


}





/* tablets landscape*/
@media (min-width: 992px) and (max-width: 1199px){
#menu_info{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
}
#menu_info > h2{
    background-color: var(--backgroundColor)
    
}

.banner {
    background-color: #343434;
    max-height: 80px;
    width: 100vw;
    display: flex;
}
.wekelijkse{
    background-color: var(--backgroundColor); 
}
.wekelijkse > h1{
    font-size: 60px;
    margin-left: 30vw;
}
.titel{
    background-color: var(--backgroundColor); 
}
.titel > h3{
    font-size: 3rem;
    margin-left: 35vw;
}
.cashback{
    background-color:#19ee3c;
}
.cashback > h3{
    font-size: 3.0rem;
    margin-left: 35vw;
}
.tijden{
    border-bottom: solid black 2px;
    background-color: var(--backgroundColor);
    border-color: var(--borderColor);
}
.tijdenipad > h1{
    font-size: 60px;
    margin-left: 30vw;
}
.titelres{
    
    background-color: var(--backgroundColor);
}
.titelres > h1{
    font-size: 60px;
    margin-left: 35vw;
}
.titelvac{
    
    background-color: var(--backgroundColor);
    border-bottom: solid black 2px;
    border-color: var(--borderColor);
     
}
.titelvac > h1{
    font-size: 60px;
    margin-left: 35vw;
}
.logo > img{
    max-height: 73px;
    max-width: auto;

}
.offertekst{
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.offerfoto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto1{
    width: 50vw;
}
.foto2{
    width: 50vw;
}
.foto1 > img{
    width: 50vw;
}
.foto2 > img{
    width: 50vw;
}
.bestelknop{
    background-color: var(--backgroundColor);
    margin-top: 3vh;
    margin-bottom: 3vh;

}
.fotoagenda{
    max-width: 100vw;
}
.fotoagenda > img{
    max-width: 90vw;
    margin-left: 5vw;
    border: solid black 2px;
    border-color: var(--borderColor);
}
.font-controls{
    display: flex;
    margin-top: 3vh;
    background-color: transparent;
    font-style: var(--bgThird);
    margin-left: 55vw;
}
.button-size1{
    width: 44px;
    height: 44px;
    margin-left: 3vw;
    font-size: 2.0rem;
    background-color: grey;
    
}
.button-size2{
    width: 44px;
    height: 44px;
    margin-left: 3vw;
    font-size: 2.0rem;
    background-color: grey;
    
}
#lightdark {
    
    width: 35px;
    height: 100%;
    margin-top: 14px;
    margin-left: 10vw;
    font-size: 2.5rem;
}
.ipadnav{
    display: flex;
    width: 100vw;
    justify-content: center;
    
    background-color: #922C06;
    
	justify-content:space-around;
    justify-items: center;
    
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    border-color: var(--borderColor);
}
.ipadnav > a{
    text-decoration: none;
    color: var(--borderColor);
    font-size: 1.7rem;
}
#dropdown-menu{
    display: none;
}
.deals{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--bgColor);
}
.deal1 > img{
    width: 50vw;
    border: solid black 1px;
    border-radius: 30px;
}
.deal1{
    display: flex;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-left: 1vw;
    background-color: var(--bgColor);
    
    
}
.deal2 > img{
    width: 50vw;
    border: solid black 1px;
    border-radius: 30px;
    min-width: 50vw; 
}
.deal2{
    display: flex;
    margin-left: 1vw;
    margin-bottom: 2vh;
    background-color: var(--bgColor);
    
}
.deal2 > h1{
    margin-left: 4vw;
    
    
}
.deal1 > h1{
    margin-left: 4vw;
    
    
}
.menuCategory{
    background-color: var(--backgroundColor);
}
hr {
  
   
    max-width: 90vw;
    margin-left: 5vw;
    margin-bottom: 2vh;
    height: 4px;
    background-color: var(--accent);
}
.tekstvlamvlees{
    margin-bottom: 2vh;
    width: 90vw;
    margin-left: 3vw;
    background-color: transparent;
    
}
.dagenopen{
    background-color: var(--backgroundColor);
   border-bottom: solid black 3px;
   border-color: var(--borderColor);

}
.dagenopen > h2{
    
    margin-left: 3vw;
}
.extras{
    color: var(--textColor);
    background-color: #922C06;
    border-bottom: solid black 3px;
    border-color: var(--borderColor);
}
.Locatietext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.Locatie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.Locatie > img{
    border: solid black 3px;
    border-color: var(--borderColor);
    margin-bottom: 10vh;
}
.Banen > img{
    width: 100vw;
}
.Banen{
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Banen > article{
    border-bottom: solid black 3px;
    border-color: var(--borderColor);
}
.textveld{
    width: 90vw;
    margin-left: 5vw;
    border: solid black 2px;
    border-color: var(--borderColor);
    border-radius: 20px;
    height: 30vh;
    background-color: var(--backgroundColor);
}

}




/* desktops */
@media (min-width: 1200px) {
    
    html {
        background-color: #000000;
        background-color: var(--bgColor);
    }

    .logo > img{
    max-height: 100px;
    max-width: auto;
    }

    .ipadnav{
    display: flex;
    width: 100vw;
    justify-content: center;
    
    background-color: #922C06;
    
	justify-content:space-around;
    justify-items: center;
    
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    border-color: var(--borderColor);
    }

    .banner {
    background-color: #343434;
    max-height: 150px;
    width: 100vw;
    display: flex;
    }

    .ipadnav > a{
    text-decoration: none;
    color: var(--borderColor);
    font-size: 1.7rem;
    }

    #lightdark {
    width: 35px;
    height: 100%;
    margin-top: 14px;
    margin-left: 10vw;
    font-size: 2.5rem;}

    .font-controls{
    display: flex;
    margin-top: 3vh;
    background-color: transparent;
    font-style: var(--bgThird);
    margin-left: 55vw;}

.button-size1{
    width: 44px;
    height: 44px;
    margin-left: 3vw;
    font-size: 2.0rem;
    background-color: grey;
    }

.button-size2{
    width: 44px;
    height: 44px;
    margin-left: 3vw;
    font-size: 2.0rem;
    background-color: grey;
    }

    #dropdown-menu{
    display: none;
    }

    .wekelijkse{
    background-color: var(--backgroundColor); 
    }

    .wekelijkse > h1{
    font-size: 60px;
    margin-left: 30vw;
    }

    .deals{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--bgColor);
    }

    .deal1 > img{
    width: 50vw;
    border: solid black 1px;
    border-radius: 30px;
    }

    .deal1{
    display: flex;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-left: 1vw;
    background-color: var(--bgColor);   
    }
    
    .deal2 > img{
    width: 50vw;
    border: solid black 1px;
    border-radius: 30px;
    min-width: 50vw; 
    }

    .deal2{
    display: flex;
    margin-left: 1vw;
    margin-bottom: 2vh;
    background-color: var(--bgColor);
    }

    .deal2 > h1{
    margin-left: 4vw;
    }

    .deal1 > h1{
    margin-left: 4vw; 
    }

    .Locatie > img {
        height: 50%;
    }

    .tijdenipad > h1{
    font-size: 60px;
    margin-left: 5px;
    }

    .Tijden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    margin: 150px; 
    padding: 50px;
    font-size: 1.3rem;
    }

    .Locatie > img {
    width: 50%;
    height: auto;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 40%;
    }

    .Locatie > h1 {
    margin-left: 25%;
    font-size: 3rem;
    }   

    .extras{
    text-align: center;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    margin: 80px; 
    padding: 40px;
    font-size: 1.3rem;
    }
    
    .Locatietext{
    margin-left: 700px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    }

    .titelres{
    text-align: center;
    margin-top: 10px;
    }

    .offertekst{
    background-color: #922C06;
    border: solid black 3px;
    margin-left: 20vw;
    border-radius: 20px;
    margin: 40px;
    padding: 40px;
    }

    .offerfoto{
    display: flex;
    }

    .foto1{
    margin-top: 3vh;
    margin-left: 9vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
    width: 40vw;
    height: auto;
    }

    .foto1 > img{
    border: solid black 3px;
    border-radius: 20px;
    width: 30vw;
    height: auto;
    }
    
    .foto2{
    width: 40vw;
    height: auto;
    margin-top: 3vh;
    margin-left: 10vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
    }

    .foto2 > img{
    border: solid black 3px;
    border-radius: 20px;
    width: 30vw;
    height: auto;
    }

    .bestelknop{
    text-align: center;
    background-color: #19ee3c;
    border: solid black 3px;
    width: 60vw;
    margin-left: 20vw;
    border-radius: 20px;
    border: var(--borderColor);
    }

    .fotoagenda > img{
    margin-left: 25%;
    height: auto;
    width: 50vw;   
    }

    .alergie {
        margin-top: 10px;
        text-align: center;
    }

    .titelvac{
        background-color: var(--backgroundColor); 
   
    }
    .titelvac > h1{
    text-align: center;
    font-size: 60px;
    }

    .Banen > img{
    margin-top: 10px;
    margin-left: 200px;
    border: solid black 10px;
    border-radius: 5px;
    width: 70vw;
    height: 20vw;
    
    }

    .Banen > h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    }

    .Banen > article > h2{
    font-size: 2rem;
    }


    .Banen > article > h3{
        font-size: 1.7rem;
    border-bottom: solid black 2px;
    border-color: var(--borderColor);
    }

    .Gegevens {
    margin: 40px;
    padding: 100px;
    background-color: #922C06;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
    border-color: var(--borderColor);  
    }

    .Banen > .bbqchef {
    margin-left: 300px;
    border: solid black 10px;
    border-radius: 5px;
    width: 50vw;
    height: auto;
    }

    .voet{
     margin-top: 15vh;
    }

}
